
.mobile {
  display: none;
  position: static;
  width: 100%;
  top: 0;
}
.mobile div {
  display: none;
}
.mobile button {
  position: relative;
  border: 0;
  text-indent: 200%;
  overflow: hidden;
  background: rgba(255,255,255,0.8) url("../images/hambmenu.png") center no-repeat;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-size: 80%;
  width: 30px;
  height: 30px;
  outline: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

 .mobile button.expanded {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: transparent;
  border: 0;
}
.mobile a {
  display: block;
}
.top a {
  background: #eee;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #747704;
  font-weight: bold;
}
.top a:hover,
.top a:active,
.top a:focus {
  background: #e7e7e7;
}
.desktop {
  display: block;
  overflow: hidden;
}
.desktop a {
  width: 33.333333%;
  float: left;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}
.desktop a:last-child {
  border-right: none;
}
article {
  padding: 0 30px 15px;
}
@media (max-width: 800px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
